* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(86deg, rgb(8, 50, 10), rgb(165, 169, 167));
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}